<ion-header>
  <ion-toolbar>
    <ion-title>
      SOBR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="{{currentprofile.profile}}" />
      <ion-card-header>
       
        <ion-card-title> {{currentprofile.name}} </ion-card-title>
        <ion-card-subtitle>{{currentprofile.age}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
  
          <p>{{currentprofile.bio}}</p>
        
      </ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col>
                  &nbsp;
                </ion-col>
            <ion-col>
                <img src="/assets/greenthumb.png" style="width: 75px" (click)="likeme(1)"/>
            </ion-col>
            <ion-col>
              
            </ion-col>
            <ion-col>
                <img src="/assets/redthumb2.png" style="width: 75px" (click)="likeme(0)"/>
            </ion-col>
            <ion-col>
                &nbsp;
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
